.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
    background-color: #ffffff;

}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;

}

.main .nav img{
    width: 40px;
    border-radius: 50%;
}


.main-container{
    max-width: 900px;
    margin: auto;

}

.main .greet{
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

.animated-gradient-text {
    background-image: linear-gradient(45deg, #ff8a00, #e52e71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
    padding: 20px;
}

.main .card{
    height: 200px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    border: 1px solid #9e9e9e;
}

.main .card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    bottom: 10px;
    right: 10px ;
}

.main .card p{
    color: #585858;
    font-size: 17px;
}

.main .card:hover{
    background-color: #dfe4ea;
   
}

.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;

}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

.search-box img{
    width: 24px;
    cursor: pointer;
    animation: fadeIn 1.5s;

}

.search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;   
}

.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
    color: #585858;

}

.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar{
    display: none;
}

.result-title{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #000000;
}

.result img{
    width: 40px;
    border-radius: 50%;
    
}

.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
    color: #000000;
}

.loader hr {
    animation: loader 1.2s infinite ease-in-out;
    border: none;
    height: 12px;
    width: 500px; /* Adjust width as needed */
    border-radius: 5px; /* Adjust border-radius for rounded corners */
    margin: 0 5px; /* Add margin to create gap between bars */
    background: linear-gradient(to right, #003a5c, #50b0ff, #00329e); /* Adjust gradient colors */
    background-size: 200% 100%; /* Double the size horizontally to ensure smooth transition */
    margin-top: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.loader hr:nth-child(1) {
    animation-delay: 0.2s;
}

.loader hr:nth-child(2) {
    animation-delay: 0.3s;
}

.loader hr:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes loader {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


.result-data p{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
}

@media(max-width:600px){
    .main-bottom input{
        flex:none;
        width: 150px;
    }
    .main-bottom img{
        width: 20px;
    }
    .search-box div{
        gap: 5px;
    }
    .main .card{
        height: 100px;
        padding: 15px;
        background-color: #f0f4f9;
        border-radius: 10px;
        position: relative;
        cursor: pointer;
    }
}

